.inline.field.projectEditField {
  margin-left: 42%;
}

.field.timePicker {
  margin-left: 42%;
}

.inline.field.timepicker {
  margin-left: 42%;
}

.inline.field.projectEditConfirmButton {
  margin-left: 42%;
}
