.inline.field.customerEditing {
  margin-left: 42%;
}

h1.ui.left.floated.header {
  margin-left: 40%;
}

.ui.form .inline.fields {
  margin-left: 37%;
}

.ui.form .field.cutomerEditConfirm {
  margin-left: 42%;
}
