body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
th,
td {
	padding: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th {
	position: sticky;
	top: 0;
	background: #6c7ae0;
	text-align: left;
	font-weight: normal;
	font-size: 1.1rem;
	color: white;
}
th:last-child {
	border: 0;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #808080;
}

tr:nth-child(even) td {
	background-color: #f8f6ff;
}
